<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page Title</title>
</head>
<body>

    <h1> This is my main header </h1>
    <h2> This is the first portion of my second header </h2>
    <h2> This is the second portion of my second header </h2>
    <!-- This is the start of my first two paragraphs -->
    <p> My first paragraph will talk about <strong>food.</strong> I <em> love </em> food. </p>
    <p> My second paragraph will talk about <strong >drinks</strong>. My <em>favorite</em> drinks are below.</p>

    <ul>
    <li>lemonade</li>
    <li>water</li>
    <li>diet coke</li>
    <li>dr. pepper</li>
    </ul>
    <p> My favorite foods are in the list below</p>

    <ol>
        <li>Pizza</li>
        <li>Steak</li>
        <li>BBQ</li>
    </ol>
    <!-- Here is my table with corresponding Course and Semester -->
    <table>
        <tr>
            <th>Course</th>
            <th>Semester</th>
        </tr>

        <tr>
            <td>BMGT445</td>
            <td>Fall 2023</td>
        </tr>

        <tr>
            <td>BMGT444</td>
            <td>Spring 2024</td>
        </tr>

        <tr>
            <td>BMGT340</td>
            <td>Fall 2022</td>
        </tr>
    </table>

    <!-- Below are my hyperlinks along with my Hello route -->
    <p>A link to the <a href="https://espn.com/">ESPN</a>.</p>
    <p>A link to the <a href="/hello">Hello Route</a> on this Web page.</p>
    <p>A link to the <a href="https://mlb.com/" target="_blank"> forcing a new browser tab to open</a>.</p>

    <p>Below is the image of the Smith logo</p>
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" height="50" width="150" alt="Smith Logo">

</body>
</html>